/*--------------BODY----------------*/
.container {
  width: 500px;
  height: 500px;
  background-color: rgb(64, 64, 90);
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontainer {
  width: 75%;
  height: 75%;
  background-color: #fff;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*--------------HEADER---------------*/

.header {
  width: 100%;
  height: 20%;
  background-color: rgb(99, 174, 245);
  position: absolute;
  top: 0;
  border-radius: 10px 10px 0px 0px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menu {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lineMenu1 {
  width: 40%;
  height: 5%;
  margin-top: -5%;
  margin-right: 10%;
  background-color: #fff;
  position: absolute;
}

.lineMenu2 {
  width: 60%;
  height: 5.5%;
  margin-top: 28%;
  margin-left: 8%;
  background-color: #fff;
  position: absolute;
}

.bollMenu {
  width: 10%;
  height: 10%;
  margin-left: 60%;
  margin-top: -8%;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.menu:hover .lineMenu1, 
.menu:hover .lineMenu2,
.menu:hover .bollMenu {
  background-color: rgb(124, 145, 165);
  cursor: pointer;
} 

.bigtitle {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.search {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.boll1 {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.boll2 {
  width: 20%;
  height: 18%;
  border-radius: 50%;
  margin-right: 0.25%;
  background-color: rgb(99, 174, 245);
  position: absolute;
}

.lineSearch {
  width: 8%;
  height: 18%;
  background-color: #fff;
  position: absolute;
  transform: rotate(145deg);
  margin-top: 29%;
  margin-left: 20%;
}

.search:hover .boll1, .search:hover .lineSearch{
  background-color: rgb(124, 145, 165);
  cursor: pointer;
}

input {
  height: 50%;
  width: 60%;
  margin-left: 20%;
  margin-top: 2%;
  border-radius: 20px;
  position: absolute;
  border: none;
  opacity: 1;
  pointer-events: none;
}

/*-------------MAIN------------------*/

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 1%;
  height: 80%;
  background-color: rgb(186, 177, 177);
  opacity: 50%;
  position: absolute;
  margin-top: 20%;
  margin-right: 75%;
}

.bollWhite1 {
  background-color: #fff;
  width: 5%;
  height: 5%;
  position: absolute;
  border-radius: 50%;
  margin-right: 75%;
  margin-top: 65%;
  z-index: 1;
}

.bollWhite2 {
  background-color: #fff;
  width: 5%;
  height: 5%;
  position: absolute;
  border-radius: 50%;
  margin-right: 75%;
  margin-top: 19%;
  z-index: 1;
}
.bollWhite3 {
  background-color: #fff;
  width: 5%;
  height: 5%;
  position: absolute;
  border-radius: 50%;
  margin-right: 75%;
  margin-top: -30%;
  z-index: 1;
}

.bollBlue1 {
  background-color: rgb(99, 174, 245);
  width: 3.5%;
  height: 3.5%;
  position: absolute;
  border-radius: 50%;
  margin-right: 75%;
  margin-top: -30%;
  z-index: 2;
}

.bollBlue2 {
  background-color: rgb(99, 174, 245);
  width: 3.5%;
  height: 3.5%;
  position: absolute;
  border-radius: 50%;
  margin-right: 75%;
  margin-top: 19%;
  z-index: 2;
}
.bollBlue3 {
  background-color: rgb(99, 174, 245);
  width: 3.5%;
  height: 3.5%;
  position: absolute;
  border-radius: 50%;
  margin-right: 75%;
  margin-top: 65%;
  z-index: 2;
}

.bollWhiteMin1 {
  background-color: #fff;
  width: 2.1%;
  height: 2.1%;
  position: absolute;
  border-radius: 50%;
  margin-right: 74.9%;
  margin-top: -30%;
  z-index: 2; 
}

.bollWhiteMin2 {
  background-color: #fff;
  width: 2.1%;
  height: 2.1%;
  position: absolute;
  border-radius: 50%;
  margin-right: 74.9%;
  margin-top: 19%;
  z-index: 2; 
}
.bollWhiteMin3 {
  background-color: #fff;
  width: 2.1%;
  height: 2.1%;
  position: absolute;
  border-radius: 50%;
  margin-right: 74.9%;
  margin-top: 65%;
  z-index: 2; 
}

.info1 {
  width: 80%;
  margin-left: 20%;
  margin-top: -20%;
  position: absolute;
  cursor: pointer;
}

.info2 {
  width: 80%;
  margin-left: 20%;
  margin-top: 30%;
  position: absolute;
  cursor: pointer;
}

.info3 {
  width: 80%;
  margin-left: 20%;
  margin-top: 75%;
  position: absolute;
  cursor: pointer;
}

.info1:hover, .info2:hover, .info3:hover {
  color: rgb(99, 174, 245);
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.subtitle {
  font-size: 18px;
}

.time {
  font-size: 18px;
}