body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  background-color: #fff;
  width: 60%;
  margin-top: 3%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*-------------header-------------------*/

.header {
  width: 90%;
  top: 0;
  margin-top: 5%;
  margin-left: 5%;
}

img {
  width: 100%;
  border-radius: 20px;
}

/*-------------Preparation-------------------*/

.preparation {
  background-color: rgb(242, 233, 235);
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 2%;
}

h3 {
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: -1%;
  color: rgb(220, 89, 135);
}

ul li {
  padding: 1%;
}

/*-------------ingredients-------------------*/

.ingredients {
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
}

h2 {
  color: brown;
}

/*----------------------Line------------------------*/

.line {
  background-color: gray;
  width: 90%;
  height: 1px;
  opacity: 30%;
  margin-left: 5%;
}

/*-----------------instructions--------------------*/

.instructions {
  margin-left: 3%;
  width: 90%;
}

ol li {
  margin-left: 2%;
  margin-bottom: 2.5%;
  text-align: inherit;
}

#instructions {
  margin-left: 2%;
}

#instructionsH2 {
  margin-left: 2%;
}

/*-----------------nutrition--------------------*/

.nutrition {
  margin-left: 3%;
  width: 90%;
}

#nutritionH2 {
  margin-left: 2%;
}

p {
  margin-left: 2%;
}

.table {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  position: relative;
}

.name {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.num {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

.line1 {
  background-color: gray;
  width: 95%;
  height: 1px;
  opacity: 30%;
  margin-left: -8%;
  margin-top: 7%;
  position: absolute;
}

.line2 {
  background-color: gray;
  width: 95%;
  height: 1px;
  opacity: 50%;
  margin-left: -8%;
  margin-top: 15%;
  position: absolute;
}

.line3 {
  background-color: gray;
  width: 95%;
  height: 1px;
  opacity: 40%;
  margin-left: -8%;
  margin-top: 23%;
  position: absolute;
}